---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import HeroLanding from '../components/HeroLanding.astro';
---

<Layout title="Od Derys Bolívar | Ortodoncista">
	<Nav />
	<main>
		<HeroLanding />
	</main>
</Layout>